•{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    background-color: #06283D;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: "Roboto", sans-serif;
    transition: 0.6s ease-out;
    flex-direction: row;
    text-align: center;

}

.Box{
    height: 700px;
    flex-basis: 500px;
    min-width: 400px;
    background-color: #fff;
    border-radius: 1rem;
    margin-top: 2rem;
    
}

.prayer-times-box {
    margin-top: 3rem;
}

.prayer-list, .prayer-list-times{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-evenly;
    margin-bottom: -20px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.title {
    font-size: 3rem;
}

.searchBox{
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 10px;
    font-size: 2rem;
    border-radius: 1rem;
}

button{
    height: 50px;
    width: 60px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #06283D;
    color: white;
    border: 0;
    box-shadow: 1px 1px 1px 1px #06283D;
    transition: 0.4s;
}

button:hover{
    background-color: #fff;
    color: #06283D;
}

#LocationInput {
    width: 320px;
    height: 40px;
    border-radius: 10px;
    border: 5px solid #06283D;
    font-size: 1rem;
    outline: none;
    text-indent: 10px;
}

.count-down-block{
    height: 210px;
    margin: 1rem;
}

#prayer-time{
    font-size: 35px;
    color: rgb(0, 171, 6);

}

#count-down {
    font-size: 70px;
    margin: -5px;
}

hr{
    height: 5px;
    background-color: black;
    border-radius: 10px;
    margin: 1rem;
}









